.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
}

.form-container .head {
    text-transform: uppercase;
}

.form-container input,
.form-container textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
}

.form-container input {
    width: calc(100% - 22px);
}

.form-container button {
    padding: 10px 23px;
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    flex: 1;
}

.button-container button:first-child {
    margin-right: 10px;
}